.form-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex: 1fr 1fr;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

input{
  width: 270px;    
  font-size: 0.75em;
  padding: 0.375rem 0.5rem;
  border-radius: 0.25em;
}

