.book-holder {
  display: grid;
  grid-template-columns: 2fr 3fr;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: 4px 2px 2px 2px rgb(193, 164, 247);
  border-radius: 5px;
  padding: 0px 30px;
  align-items: center;
}

.image-container {
  margin-right: 10px;
}

.image-holder {
  border-radius: 5px;
  border: 0.5mm solid grey;
}

@media (max-width: 500px) {
  .book-holder {
    padding: 0px 5px;
    border: 0.25mm solid;
    box-shadow: 0px 0px;
    font-size: 14px;
    width: min-content;
  }

  .image-container {
    margin-right: 3px;
  }

  .details-container {
    padding: 2px;
  }

  .rating-button {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }

  .button-container {
    justify-content: space-around;
    display: flex;
    row-gap: 10px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
  }
}